<div class="jumbotron">
    <h1>Zip File Uploader</h1>
    <p class="lead">This is the Web API application for upload zip file for Axinom Test</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>First you have to run this application and get it's url. After that copy it in the web.config in Client application where there is a App Setting declared as "backendApp". Then run the client application also. Then you will be able to submit zip file along with the user creadintials.</p>
    </div>
</div>
